<div class="flex justify-end">
  <%= button_to 'Sync From Trident', sync_collections_path, class: "py-2 px-4 bg-primary text-white rounded" %>
</div>
<div class="grid grid-cols-4 gap-4">
  <%= render partial: "collections/collection", collection: @collections %>
</div>
