<% content_for :modal_title do %>
  New Auction
<% end %>

<% content_for :modal_content do %>
  <div class="mb-4 font-bold">
    You are auctioning <%= params[:identifiers].size %> NFTs
  </div>
  <%= render 'collections/auction_order_tasks/form', 
    task: AuctionOrderTask.new(collection_id: params[:collection_id]), 
    identifiers: params[:identifiers] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
