<% content_for :modal_title do %>
  Cancel Order
<% end %>

<% content_for :modal_content do %>
  <div class="">
    You are cancelling <%= params[:order_ids].size %> orders
  </div>
  <%= render 'tasks/form', type: 'CancelOrderTask', collection_id: params[:collection_id], identifiers: [], order_ids: params[:order_ids] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
