<% content_for :modal_title do %>
  Mint NFT
<% end %>

<% content_for :modal_content do %>
  <div class="">
    You are minting <%= params[:identifiers].size %> NFTs
  </div>
  <%= render 'collections/mint_nft_tasks/form', 
    task: MintNftTask.new(collection_id: params[:collection_id]), 
    identifiers: params[:identifiers] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
