<% content_for :modal_title do %>
  New Fixed Price Order
<% end %>

<% content_for :modal_content do %>
  <div class="mb-4 font-bold">
    You are selling <%= params[:identifiers].size %> NFTs
  </div>
  <%= render 'tasks/form', type: 'AskOrderTask', collection_id: params[:collection_id], identifiers: params[:identifiers] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
