<% content_for :modal_title do %>
  Deposit NFT
<% end %>

<% content_for :modal_content do %>
  <div class="">
    You are depositing <%= params[:identifiers].size %> NFTs
  </div>
  <%= render 'tasks/form', type: 'DepositTask', collection_id: params[:collection_id], identifiers: params[:identifiers] %>
<% end %>

<%= turbo_stream.update "modal-slot" do %>
  <%= render "view_modals/modal" %>
<% end %>
