<%= turbo_stream.update "modal-slot" do %>
  <%= render "shared/modal" do |partial| %>
    <% partial.content_for :title do %>
      Withdraw NFT
    <% end %>

    <% partial.content_for :content do %>
      <div class="">
        You are withdrawin <%= params[:identifiers].size %> NFTs
      </div>
      <%= render 'withdraw_nft_tasks/form', 
        task: WithdrawNftTask.new(collection_id: params[:collection_id]), 
        identifiers: params[:identifiers] %>
    <% end %>
  <% end %>
<% end %>
