<% content_for :title do %>
  Mint NFT
<% end %>

<% content_for :content do %>
  <div class="">
    You are minting <%= params[:token_ids].size %> NFTs. 
  </div>
  <div class="">
    Make sure you have at least <%= (params[:token_ids].size * 0.001).floor(8) %> XIN in the wallet.
  </div>
  <%= render 'collections/mint_nft_tasks/form', 
    task: MintNftTask.new(collection_id: params[:collection_id]), 
    token_ids: params[:token_ids] %>
<% end %>
