<div class="h-screen flex items-center justify-center">
  <% if current_user %>
    <%= image_tag current_user.avatar_url, class: "w-12 h-12 rounded-full" %>
  <% else %>
    <%= form_with url: login_path, method: :post do |form| %>
      <%= form.file_field :keystore, class: 'block mb-4' %>
      <%= form.submit :submit, class: 'block py-2 px-4 bg-blue-500 rounded text-center text-white cursor-pointer hover:bg-blue-600' %>
    <% end %>
  <% end %>
</div>
