<tr class="hover:bg-zinc-50 border-zinc-100 dark:hover:bg-zinc-800 border-b dark:border-zinc-800">
  <td class="p-2">
    <div class="flex items-center space-x-2">
      <%= image_tag item.icon_url, class: "block w-10 h-10 rounded-full" %>
      <span><%= item.name %></span>
    </div>
  </td>
  <td class="p-2">
    <div class="font-bold">
      <%= item.collection&.name || '-' %>
    </div>
    <div class="text-sm">
      #<%= item.identifier %>
    </div>
  </td>
</tr>
